{% extends 'halls/base.html' %}
{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1>What's your personal Hall of Fame?</h1>
    <p class="lead text-muted my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
      anim id est laborum.</p>
    <a href="{% url 'create_hall' %}" class="btn btn-secondary">Create Your Hall of Fame</a>
  </div>
</section>
<div class="container">
  <h1 class="text-center">Recent Hall of Fames</h1>
  {% for hall in recent_halls %}
  <a href="{% url 'detail_hall' hall.id %}" class="text-decoration-none"><h3>{{ hall.title }}</h3></a>
  <div class="row text-center">
    {% for video in hall.video_set.all %}
    <div class="col-md-4 mt-3">
      <div class="card mb-4 shadow-sm">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text">{{ video.title }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
